*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/.tools
/.wireguard
/vendor
/mobile/.dart_tool
/mobile/.flutter-plugins
/mobile/.flutter-plugins-dependencies
/mobile/build
/mobile/ios/Flutter/ephemeral
/mobile/android/.gradle
/mobile/android/key.properties
/mobile/release
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
